<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.Js Basics</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<body>
  <div id="root">
    <h1 v-show="title">{{title}}</h1>
    <label>Enter Todo</label>
    <input v-model="todo" :class="[todo.length > 3 ? 'valid' : 'invalid']"/>
    <button name="add-todo" @click="addTodo" :disabled="todo.length < 3">
      Add
    </button>
    <button name="clear-list" @click="clearTodoList" :disabled="todoList.length === 0">
      Clear
    </button>
    <h4 v-if="todo.length > 3">Todo: {{todo}}</h4>/
    <h4 v-else-if="todo.length > 0 && todo.length <= 3">Todo must have at least four characters</h4>
    <h4 v-else>Enter some text</h4>
    <!-- :disabled == v-bind:disabled -->
    <!-- <input v-bind:value="title" :disabled="!showExtraInput"/> -->
    <!-- @click == v-on:click -->
    <todo-list :todos="todoList"></todo-list>
    <hr/>
    <label>Enter Food</label>
    <input v-model="food">
    <h4 v-if="food.length > 3">Food: {{getFood}}</h4>
  </div>
</body>
<script>
  // global component declaration
  /* Vue.component('todo-list', {
    props: ['todos'],
    template: `
    <ul>
      <li v-for="(todo, i) in todos">
        {{i + 1}} - {{todo | capitalizeTodo}}
      </li>
    </ul>
    `, 
    filters: {
      capitalizeTodo(val) {
        return val.toUpperCase();
      }
    }
  }) */
  // local component registration
  let myTodoListComponent = {
    props: ['todos'],
    template: `
    <ul>
      <li v-for="(todo, i) in todos">
        {{i + 1}} - {{todo | capitalizeTodo}}
      </li>
    </ul>
    `, 
    filters: {
      capitalizeTodo(val) {
        return val.toUpperCase();
      }
    }
  }
  let app = new Vue({
    el: '#root',
    components: {
      'todo-list': myTodoListComponent
    },
    data() {
      return {
        title: 'Welcome to Vue.Js',
        todo: '',
        food: '',
        todoList: [],
        showExtraInput: false
      }
    },
    methods: {
      addTodo() {
        console.log('this', this);

        this.todoList.push(this.todo);
        this.todo = '';

        (() => console.log('**this**', this))();
      },
      clearTodoList() {
        this.todoList = [];
      }
    },
    computed: {
      getFood() {
        console.log('getFood called');
        return this.food.toUpperCase();
      }
    },
    // lifecycle hooks
    beforeCreated() {
      console.log('beforeCreated'); 
    },
    created() {
      console.log('created'); 
    },
    beforeMount() {
      console.log('beforeMount'); 
    },
    mounted() {
      console.log('mounted'); 
    },
    beforeUpdate() {
      console.log('beforeUpdate'); 
    },
    updated() {
      console.log('updated');
      // app.$destroy();
    },
    beforeDestroy() {
      console.log('beforeDestroy'); 
    },
    destroyed() {
      console.log('destroyed');
    }
  })
</script>
<style>
  .valid {
    border: 4px solid lightgreen;
  }
  .invalid {
    border: 4px solid red;
  }
</style>
</html>