<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.Js Basics</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<body>
  <div id="root">
    <h1 v-show="title">{{title}}</h1>
    <label>Enter Todo</label>
    <input v-model="todo" :class="[todo.length > 3 ? 'valid' : 'invalid']"/>
    <h4 v-if="todo.length > 3">Todo: {{todo}}</h4>/
    <h4 v-else-if="todo.length > 0 && todo.length <= 3">Todo must have at least four characters</h4>
    <h4 v-else>Enter some text</h4>
    <br/>
    <!-- :disabled == v-bind:disabled -->
    <input v-bind:value="title" :disabled="!showExtraInput"/>
    <!-- @click == v-on:click -->
    <button name="add-todo" @click="addTodo" :disabled="todo.length < 3">
      Add
    </button>
    <button name="clear-list" @click="clearTodoList" :disabled="todoList.length === 0">
      Clear
    </button>
    <ul>
      <li v-for="(todo, i) in todoList">
        {{i + 1}} - {{todo}}
      </li>
    </ul>
  </div>
</body>
<script>
  new Vue({
    el: '#root',
    data() {
      return {
        title: 'Welcome to Vue.Js',
        todo: '',
        todoList: [],
        showExtraInput: false
      }
    },
    methods: {
      addTodo() {
        this.todoList.push(this.todo);
        this.todo = '';
      },
      clearTodoList() {
        this.todoList = [];
      }
    }
  })
</script>
<style>
  .valid {
    border: 4px solid lightgreen;
  }
  .invalid {
    border: 4px solid red;
  }
</style>
</html>